<!DOCTYPE html>
<html>
<head>
  <title>FirstApp</title>
<<<<<<< HEAD
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
=======
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
>>>>>>> 3c0cc2203054370ebf1edaa1569668e53691db7e
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
